
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  
    <body>
        <div class="body-div">
            <h1>Đơn hàng của quý khách đã được lưu lại, chúng tôi sẽ vận chuyển đơn hàng trong thời gian nhanh nhất. </h1>
            <h1 class="text-camon">Cảm ơn quý khách !</h1>
            <a href="/WebQuanAo/Index"> Trở về trang chủ </a>
        </div>
        <style>
            .body-div {
                max-width: 1200px;
                margin: 0 auto;
            }
            .body-div h1{
                line-height:52px;
            }
                .body-div a {
                    text-decoration: none;
                    font-size: 25px;
                    color: white;
                    background-color: #088178;
                    padding: 10px;
                    border-radius: 5px;
                    margin-left: 83%;
                }
             .body-div a:hover{
                opacity:0.6;
            }
            .text-camon {
                text-align: center
            }
        </style>


    </body>
</html>

